<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>css 속성</title>
<link rel="stylesheet" href="../css/typography.css">
<!-- 내부 스타일시트 설정 -->
</head>
<body>

<p class="shadow">hello css</p>

	<!-- 텍스트는 p 태그에 작성
	div 태그나  span 태그에 만들기도 합니다.
	css는 특별한 경우가 아니면 class 단위로 적용한다.
	javascript는 id 단위로 작업하는 경우가 많다. -->
	<p class="font">타이포그라피는 텍스트에 대한 모양 설정을 의미합니다.
	<br/>일반적인 텍스트는 paragraph의 약자인 p 태그에 저장합니다.</p>
	
	
	<!-- inline 요소는 너비를 설정하지 않으면 콘텐츠가 있는 곳만 영역이 설정 -->
	<span class="inline">인라인 요소에 텍스트를 입력</span>
	
	<p>물의 화학식은 H<span class="sub">2</span>O이고
	10<span class="super">2</span>은 100 입니다.</p>
	
	<p><img src="../images/조보아.jpg" class="img" width="400" height="300" />
	이미지 주위에 텍스트 배치</p>
</body>
</html>